@import 'bootstrap/scss/bootstrap';

.navbar {
    background: $gray-200;
    padding-left: 2rem;
}

.content { 
    padding: 2rem;

    .title {
        display: flex;
        
        margin: auto;
    }
}